*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 16px;
    background: #efefef;
}
.page{
    width: 100%;
    height: 100vh;
}
.page-top{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    height: 10.8vh;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    background: #fff;
    box-shadow: 4px 0 4px 0 #ccc;
}
.page-top h1{
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}
.page-top p{
    font-size: 16px;
    color:black;
}



.page-con{
    height: 100vh;
    display: flex;
    margin-top: 10.8vh;
    background-color: white
}
/* pc-nav=左侧菜单  */
.pc-nav{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    top: 0; 
    padding-top: 10.8vh;
    left: 0;
    width: 10%;
    height: 89.2vh;
    background: white;
    box-shadow: 4px 0 4px 0 #ccc;
}
.pc-nav .nav a:hover {
    background-color: darkblue; 
    color: white; 
}

.pc-nav .nav a.active {
    background-color: skyblue; 
    color: black; 
}
.pc-box{
    width: 84.62vw;
    padding-bottom: 50px;
    margin-left: 12vw;
}
.nav{
    width: 100%;
    margin-top: 6vh;
}
.nav a{
    display: block;
    text-align: center;
    color:black;
    padding: 25px 0;
    text-decoration: none;

}
.nav.active{
    color: #e98d0a;
}
.nav a:hover{
    color: #e98d0a;
}

.QRcode{
    width: 100%;
    text-align: center;
}
.QRcode img{
    width: 100%;
    height: auto;
}
.QRcode p{
    font-size: 16px;
    color: #666;
    margin-block-start: 10px;
    margin-bottom: 20px;
}
.home-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;

}
.banner{
    width: 965px;
    height: 350px;
}
.banner img{
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 15px -3px rgba(68,68,68,0.25);
}
.user-info{
    width: 300px;
    height:350px;
    background: white;
    box-shadow: 0px 10px 15px -3px rgba(68,68,68,0.25);
    border-radius: 10px;
}
.ui-img img{
    display: block;
    width: 100%;
    height: auto;

}
.ui-text{
    text-align: center;

    margin-top: 12px;
    
}

.link a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 72px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 3px;
}
.link a:nth-child(1){
    background: black;
    color:white;
    border: 1px solid black;
}

.link a:nth-child(2){
    background: white;
    color: black;
    border: 1px solid black;
    margin-left: 20px;
}
.zuopin{
    width: 100%;
    margin-top: 20px;
}
.common-title{
    font-size: 22px;
    color: black;
    border-left: 5px solid black;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.zuopin-box ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zuopin-box ul li{
    list-style: none;
    width: 23%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-right: 2.66%;
}
.zuopin-box ul li a{
    text-decoration: none;
}
.zuopin-box ul li:nth-child(4n+4){
    margin-right: 0;
}

.zuopin-box ul li img{
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
}
.zuopin-box ul li p{
    padding: 15px 0;
    text-align: center;
    color: black;
    font-size: 18px;
}
.announcement{
    /* border: 1px solid black; */
    background: url(../image/800.jpg);
    background-size: cover;
    background-position: left bottom;
    margin-left: 30px;
    position: relative;
    width: 94%;
}
.announcement hr{
    height: 3px;
    background-color: black;
    margin: 20px 0 60px 0;
}
.announcement h2{
    font-size: 36px;
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.announcement h3{
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.announcement p{
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 26px;
    margin-top: 20px;
}
.announcement span{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 26px;
    padding-left: 2em;
    white-space: pre-wrap;
}

.footer{
    background-color: whitesmoke;
    height: 80px;
    width: 107%;
    margin: 15px -3.7vw ;
}
.copyright p{
    /* width: 1200px; */
    border-top: 1px solid #e1dedd;
    padding-top: 16px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    color: #b1b1b1;
    line-height: 20px;
}

.right-img{
    position:absolute;
    top: 30px;
    right: 0px;
    max-width: 70%;
    max-height: 70%;     
}