*{
    margin: 0;
    padding: 0;
}
body {
  font-size: 16px;
  background: #efefef;
  font-family: 'Microsoft YaHei', sans-serif !important; 
  overflow: hidden;
}

.navbar {
  height: 50px;
  width: auto;
}


.navbar-header img{
  height: 48px;
  width: auto;
  border: white 1px solid;

}

.d-flex {
  display: flex;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
}
.justify-content-between {
  justify-content: space-between;

}
.align-items-center {
    align-items: center;
}
.text-center{
  display: inline-block;
  flex-grow: 1;

}
.custom-h3{
  display: inline-block;
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  margin: 0.5em;
}
.custom-p{
  font-size: 16px;
  color:black;
  display: inline-block;
  margin: 0.25em;
  font-weight: 200;
}
#carousel-example-generic>.carousel-inner>.item{
  height: 640px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  overflow: hidden;
}



#carousel-example-generic>.carousel-inner>.item>img {
  display: block; /* 将图片设置为块级元素 */
  margin: 0 auto; /* 水平居中图片 */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.carousel-caption{
  margin: 0 auto;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0) 0);
  color: white; /* 确保文字颜色与背景颜色有对比 */
  padding-top: 6rem;

  z-index: 10; /* 确保文字在背景之上 */
  text-shadow: 1px 1px 5px black;
  position: absolute;
  max-width: 60%;
  height: auto;
  max-height: 45%;
  box-sizing: border-box;
  transform: translateY(-55%);
}
.carousel-caption h3{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.8em;
  text-align: left;
  margin-top: 0;
}
.carousel-caption p{
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 1em;
  text-align: left;
}
.carousel-indicators{
  background: rgba(0, 0, 0, 0.01);
}

.footer{
  display:block;
  background-color: whitesmoke;
  height: 70px;
  margin: 15px 0;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
}
.copyright p{
  
  border-top: 1px solid #e1dedd;
  padding-top: 16px;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  color: #b1b1b1;
  line-height: 20px;
} 

/* @media screen and (max-width: 768px) {
  #carousel-example-generic>.carousel-inner>.item {
    height: 400px; 
  }
  .carousel-caption h3 {
    font-size: 26px; 
  }
  .carousel-caption p {
    font-size: 14px; 
  }
}

@media screen and (max-width: 480px) {
  #carousel-example-generic>.carousel-inner>.item {
    height: 300px; 
  }
  .carousel-caption h3 {
    font-size: 22px; 
  }
  .carousel-caption p {
    font-size: 12px; 
  }
}
 */